/* .chart-container {
	display: flex;
	justify-content: center;
} */

.chart-main {
	display: flex;
	flex: 1;
	justify-content: center;
	margin-bottom: 2rem;
}

.title {
	text-align: center;
	padding: 3rem;
}

.chart {
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

.widget {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
}

@media screen and (max-width: 1200px) {
	.chart-main {
		display: flex;
		flex-direction: column;
	}
}
