.side-drawer {
	height: 100vh;
	background: white;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 3rem;
	position: fixed;
	top: 0;
	right: 0;
	left: -100%;
	width: 30%;
	max-width: 400px;
	z-index: 200;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
	transition: 850ms;
}

.side-drawer.open {
	left: 0;
	transition: 350ms;
	min-width: 350px;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
}

.side-drawer-contents {
	/* display: flex; */
	/* justify-content: flex-start; */
	/* align-items: center; */
	padding: 2rem;
	width: 100%;
}

.toggle-arrow {
	font-size: 1.5em;
	padding: 2rem 0 2rem 0;
}

/* @media screen and (max-width: 960px) {
} */
