.footer-container {
	background-color: #1c2237;
	display: flex;
	justify-content: center;
}
.footer {
	display: flex;
	padding: 2rem;
	background-color: #1c2237;
	justify-content: center;
	align-items: center;
	/* max-width: 1600px; */
	width: 100%;
}

.footer-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	color: white;
}

.social-icons {
	display: flex;
}

.social-icons a {
	font-size: 24px;
	padding-right: 10px;
	color: white;
}
