.trans-header {
	display: flex;
	padding: 0rem 0 1rem 0;
	justify-content: center;
	align-items: center;
}

.trans-header h1 {
	flex-grow: 1;
}

.trans-header button {
	padding: 10px;
	border-radius: 7%;
}
